#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(firefox --no-remote about:blank)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_firefox}"
{{jtb_bin_snippet_host_vars}}

TEMP_HOME=$(mktemp -d --suffix .jtb-firefox)

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_resolv -}}
    --device /dev/snd \
    --device /dev/dri \
    -v /dev/shm:/dev/shm \
    -v $TEMP_HOME:$HOME:z \
    --net host \
    --pid host \
    --rm \
    --group-add audio \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-firefox \
    "${CONTAINER_FINAL_CMD[@]}"

if [[ "$TEMP_HOME" =~ /tmp ]]; then
    rm -rf "$TEMP_HOME"
fi
