#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(ncmpcpp)
CONTAINER_NAME_BASE=jtb_ncmpcpp
{{jtb_bin_snippet_host_vars}}

jtb-mpd < /dev/null &> /dev/null &
CONTAINER_NAME_BASE=jtb_mpdris2 jtb-mpd mpDris2 < /dev/null &> /dev/null &

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_home -}}
    {{jtb_bin_snippet_gsetting_schemas -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_resolv -}}
    -w "$HOME" \
    --net host \
    --pid host \
    --rm \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-mpd \
    "${CONTAINER_FINAL_CMD[@]}"

pkill -x mpd
pkill -x mpDris2

wait
