#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(mutt)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_mutt}"
{{jtb_bin_snippet_host_vars}}

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_home -}}
    {{jtb_bin_snippet_gsetting_schemas -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_media -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_resolv -}}
    -w "$HOME" \
    --net host \
    --pid host \
    --rm \
    --name $CONTAINER_NAME \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-shell \
    "${CONTAINER_FINAL_CMD[@]}"
