#!/bin/bash
set -euo pipefail

CONTAINER_SUDO=sudo
CONTAINER_DEFAULT_CMD=(bash)
CONTAINER_NAME_BASE=jtb_shell_rootful
CONTAINER_IMAGE={{jtb_image_org}}/jtb-shell:latest

{{jtb_bin_snippet_host_vars}}
{{jtb_bin_snippet_rootful_image_refresh}}

mkdir -p $HOME/.tmux.socket
chmod 0700 $HOME/.tmux.socket

# podman uses clone() with CLONE_NEWNS which requires CAP_SYS_ADMIN
# https://github.com/containers/libpod/blob/4d45f5180f778bf3a298bf061ca2c0dba0d4bfad/pkg/rootless/rootless_linux.c#L279
sudo podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_subuid -}}
    {{jtb_bin_snippet_home -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_krb5 -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_media -}}
    {{jtb_bin_snippet_mnt -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_fuse -}}
    {{jtb_bin_snippet_rm -}}
    -w "$PWD" \
    -v $HOME/.tmux.socket:/tmp/tmux-$UID \
    -v /etc/shadow:/etc/shadow:ro \
    -v /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
    --net host \
    --pid host \
    --ipc host \
    --security-opt label=disable \
    --privileged \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    $CONTAINER_IMAGE \
    "${CONTAINER_FINAL_CMD[@]}"
