#!/bin/bash
set -euo pipefail

function tmux_server() {
    if podman inspect jtb_tmux &> /dev/null; then
        if podman inspect jtb_tmux -f {%raw%} "{{.State.Running}}" {%endraw%} | grep false &> /dev/null; then
            podman rm jtb_tmux || true
        else
            echo "Tmux server for UID $UID already exists, skipping."
            return 0
        fi
    fi

    local CONTAINER_FINAL_CMD=( bash -c 'tmux -S $HOME/.tmux.socket/default new-session -d; PID=$(tmux -S $HOME/.tmux.socket/default display-message -pF "#{pid}"); tail --pid=$PID -f /dev/null' )
    {{jtb_bin_snippet_host_vars}}

    mkdir -p $HOME/.tmux.socket
    chmod 0700 $HOME/.tmux.socket

    podman run \
        {{jtb_bin_snippet_users -}}
        {{jtb_bin_snippet_uid_gid_map -}}
        {{jtb_bin_snippet_home -}}
        {{jtb_bin_snippet_tmp -}}
        {{jtb_bin_snippet_gsetting_schemas -}}
        {{jtb_bin_snippet_env -}}
        {{jtb_bin_snippet_xdg_runtime_dir -}}
        {{jtb_bin_snippet_krb5 -}}
        {{jtb_bin_snippet_tty -}}
        {{jtb_bin_snippet_pulse -}}
        {{jtb_bin_snippet_media -}}
        {{jtb_bin_snippet_mnt -}}
        {{jtb_bin_snippet_locale -}}
        {{jtb_bin_snippet_pki_ca -}}
        {{jtb_bin_snippet_resolv -}}
        {{jtb_bin_snippet_privileged_dev -}}
        -w "$HOME" \
        -v $HOME/.tmux.socket:$HOME/.tmux.socket \
        --volume /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
        --volume /dev/dri:/dev/dri \
        --volume /dev/fuse:/dev/fuse \
        -d \
        --net host \
        --pid host \
        --privileged \
        --rm \
        --name jtb_tmux \
        ${CONTAINER_RUN_ARGS:-} \
        {{jtb_image_org}}/jtb-shell \
        "${CONTAINER_FINAL_CMD[@]}"
}

tmux_server

exec jtb-shell bash -c "tmux -S $HOME/.tmux.socket/default attach"
