#!/bin/bash
set -euo pipefail

CONTAINER_SUDO=sudo
CONTAINER_DEFAULT_CMD=(bash)
CONTAINER_NAME_BASE=jtb_shell_rootful_root
CONTAINER_IMAGE={{jtb_image_org}}/jtb-shell:latest

{{jtb_bin_snippet_host_vars}}
{{jtb_bin_snippet_rootful_image_refresh}}

sudo podman run \
    {{jtb_bin_snippet_system_root -}}
    {{jtb_bin_snippet_home -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_media -}}
    {{jtb_bin_snippet_mnt -}}
    {{jtb_bin_snippet_fuse -}}
    {{jtb_bin_snippet_rm -}}
    -v /etc/shadow:/etc/shadow:ro \
    -v /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
    -w "$PWD" \
    --net host \
    --pid host \
    --ipc host \
    --security-opt label=disable \
    --privileged \
    --user 0:0 \
    --rm \
    --name jtb_shell_root_$IDX \
    ${CONTAINER_RUN_ARGS:-} \
    $CONTAINER_IMAGE \
    "${CONTAINER_FINAL_CMD[@]}"
