#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(bash)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_shell}"
{{jtb_bin_snippet_host_vars}}

mkdir -p $HOME/.tmux.socket
chmod 0700 $HOME/.tmux.socket

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_home -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_gsetting_schemas -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_env_display -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_krb5 -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_media -}}
    {{jtb_bin_snippet_mnt -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_rm -}}
    {{jtb_bin_snippet_privileged_dev -}}
    -w "$PWD" \
    -v $HOME/.tmux.socket:/tmp/tmux-$UID \
    --volume /var/run/dbus/system_bus_socket:/var/run/dbus/system_bus_socket \
    --net host \
    --pid host \
    --privileged \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-shell \
    "${CONTAINER_FINAL_CMD[@]}"
