#!/bin/bash

declare -a pass_through_vars
for var in $ENVPT; do
    if [ -n ${!var+x} ]; then
        pass_through_vars+=("--env=$var=${!var}")
    fi
done

flatpak-spawn "${pass_through_vars[@]}" --host {{host_cmd}} "$@"
