#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(fluidsynth -is -o audio.jack.autoconnect=True /usr/share/soundfonts/FluidR3_GM.sf2)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_fluidsynth}"
{{jtb_bin_snippet_host_vars}}

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_pipewire -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_privileged_dev -}}
    -v /dev/shm:/dev/shm \
    -v /dev/snd:/dev/snd \
    --net host \
    --pid host \
    --ipc host \
    --privileged \
    --rm \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-audyoyo \
    "${CONTAINER_FINAL_CMD[@]}"
