#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(/usr/bin/sclang)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_sclang}"
{{jtb_bin_snippet_host_vars}}
{{jtb_bin_snippet_tmp_home_mkdir}}

mkdir -p $HOME/.config/SuperCollider
mkdir -p $HOME/.local/share/scide
mkdir -p $HOME/.local/share/SuperCollider

if [ -n "${SCLANG_COMMAND_FIFO:-}" ]; then
    SCLANG_FIFO_ARGS="        --env=SCLANG_COMMAND_FIFO=${SCLANG_COMMAND_FIFO:-} \
        -v $SCLANG_COMMAND_FIFO:$SCLANG_COMMAND_FIFO"
fi

set -x

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    -i \
    -t=$CONTAINER_TTY \
    --detach-keys='ctrl-^' \
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_pipewire -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_privileged_dev -}}
    --device /dev/dri \
    --device /dev/shm \
    --device /dev/snd \
    {{jtb_bin_snippet_tmp_home_mount}} \
    -v $HOME/.config/SuperCollider:$HOME/.config/SuperCollider \
    -v $HOME/.local/share/scide:$HOME/.local/share/scide \
    -v $HOME/.local/share/SuperCollider:$HOME/.local/share/SuperCollider \
    --net host \
    --pid host \
    --ipc host \
    --privileged \
    --rm \
    --name "$CONTAINER_NAME" \
    ${SCLANG_FIFO_ARGS:-} \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-audyoyo \
    "${CONTAINER_FINAL_CMD[@]}"

#    -v /run/dbus/system_bus_socket:/run/dbus/system_bus_socket \
