#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(musescore)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_musescore}"
{{jtb_bin_snippet_host_vars}}
{{jtb_bin_snippet_tmp_home_mkdir}}

mkdir -p $HOME/.local/share/MuseScore
mkdir -p $HOME/.config/MuseScore

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_pipewire -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_privileged_dev -}}
    --device /dev/dri \
    --device /dev/shm \
    --device /dev/snd \
    {{jtb_bin_snippet_tmp_home_mount}} \
    -v /run/dbus/system_bus_socket:/run/dbus/system_bus_socket \
    -v $HOME/.local/share/MuseScore:$HOME/.local/share/MuseScore \
    -v $HOME/.config/MuseScore:$HOME/.config/MuseScore \
    --net host \
    --pid host \
    --ipc host \
    --privileged \
    --rm \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-audyoyo \
    "${CONTAINER_FINAL_CMD[@]}"
