#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(qsampler)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_qsampler}"
{{jtb_bin_snippet_host_vars}}
{{jtb_bin_snippet_tmp_home_mkdir}}

mkdir -p $HOME/.cache/ardour6
mkdir -p $HOME/.config/ardour6
mkdir -p $HOME/.lv2
mkdir -p $HOME/.lxvst
mkdir -p $HOME/.vst3

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_pipewire -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_privileged_dev -}}
    -e LD_LIBRARY_PATH=/usr/lib64/libgig \
    -v /dev/shm:/dev/shm \
    -v /dev/dri:/dev/dri \
    {{jtb_bin_snippet_tmp_home_mount}} \
    -v $HOME/.cache/ardour6:$HOME/.cache/ardour6 \
    -v $HOME/.config/ardour6:$HOME/.config/ardour6 \
    -v $HOME/.lv2:$HOME/.lv2 \
    -v $HOME/.vst3:$HOME/.vst3 \
    --net host \
    --pid host \
    --ipc host \
    --privileged \
    --rm \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-audyoyo \
    "${CONTAINER_FINAL_CMD[@]}"
