#!/bin/bash
set -euo pipefail

CONTAINER_DEFAULT_CMD=(/usr/bin/BespokeSynth)
CONTAINER_NAME_BASE="${CONTAINER_NAME_BASE:-jtb_bespoke}"
{{jtb_bin_snippet_host_vars}}
{{jtb_bin_snippet_tmp_home_mkdir}}

mkdir -p $HOME/.local/share/DigitalSuburban
mkdir -p $HOME/.lv2
mkdir -p $HOME/.lxvst
mkdir -p $HOME/.vst3

podman run \
    {{jtb_bin_snippet_users -}}
    {{jtb_bin_snippet_uid_gid_map -}}
    {{jtb_bin_snippet_tmp -}}
    {{jtb_bin_snippet_env -}}
    {{jtb_bin_snippet_xdg_runtime_dir -}}
    {{jtb_bin_snippet_tty -}}
    {{jtb_bin_snippet_pulse -}}
    {{jtb_bin_snippet_pipewire -}}
    {{jtb_bin_snippet_pki_ca -}}
    {{jtb_bin_snippet_locale -}}
    {{jtb_bin_snippet_resolv -}}
    {{jtb_bin_snippet_privileged_dev -}}
    -e LD_LIBRARY_PATH=/usr/lib64/libgig \
    -e BESPOKE_DATA_DIR=/opt/BespokeSynth/resource \
    -w /usr/share/BespokeSynth \
    --device /dev/dri \
    --device /dev/shm \
    --device /dev/snd \
    {{jtb_bin_snippet_tmp_home_mount}} \
    -v $HOME/.local/share/DigitalSuburban:$HOME/.local/share/DigitalSuburban \
    -v $HOME/.lv2:$HOME/.lv2 \
    -v $HOME/.lxvst:$HOME/.lxvst \
    -v $HOME/.vst3:$HOME/.vst3 \
    --net host \
    --pid host \
    --ipc host \
    --privileged \
    --rm \
    --name "$CONTAINER_NAME" \
    ${CONTAINER_RUN_ARGS:-} \
    {{jtb_image_org}}/jtb-audyoyo \
    "${CONTAINER_FINAL_CMD[@]}"

#    -v /run/dbus/system_bus_socket:/run/dbus/system_bus_socket \
